@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f3f3f3;
}


.logo {
    align-content: center;
}

.nav-container {
    padding: 10px;
    display: flex;
    width: 100%;
    height: calc(3rem + 6px);
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 1px 10px rgb(209, 209, 209);
}



.nav-items {
    display: flex;
    align-items: center;
    list-style: none;
    column-gap: 20px;
    
}

.nav-links {
    text-decoration-line: none;
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    font-style: inherit;
}



.cta-btn {
    font-family: 'Montserrat';
    padding: 6px 5px;
    border-radius: 20px;
    width: 100px;
    border-width: 1px;
    border-style: solid;
    border-color: #d95d39;
    transition: all 0.2s ease-in-out 0s;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.cta-btn:hover {
    border-width: 1px;
    border-color: antiquewhite;
    box-shadow: -5px 5px 11px #b1b1b1,
    5px -5px 11px #ffffff;
}

.nav-links-container {
    text-align: center;
    transition: all 0.2s ease-in-out;
    border-color: antiquewhite;
}
.nav-links-container:hover {
    padding: 4px 8px;
    border-radius: 100px;
    border-style: solid;
    border-width: 1px;
    border-color: antiquewhite;
    box-shadow: -5px 5px 11px #b1b1b1,5px -5px 11px #ffffff;
    
}

.searchbar {
    color: #000000;
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: #00000056;
    padding: 7px 8px;
    border-radius: 50px;
    transition: all 0.2s ease-in-out 0s;
}

.searchbar:focus{
    outline: none;
    border-width: 1px;
    border-radius: 50px;
    border-color: antiquewhite;
    box-shadow: -5px 5px 11px #b1b1b1,
    5px -5px 11px #ffffff;
}

.searchbar-button-container {
    position: relative;
}

.searchbutton {
    position: absolute;
    top: 4px;
    left: 227px;
    cursor: pointer;
}
.searchbutton:hover {
    cursor: pointer;
    filter: invert();
    filter: brightness(0);
}

.pop-item-container-padding {
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: left;
    font-family: 'Poppins';
    row-gap: 10px;
}


.pop-item-container {
    overflow-y: hidden;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #d4d4d4;
    padding: 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    gap: 10px;
    max-height: 350px;
    background-color: rgb(240, 240, 240);
    box-shadow: 0px 3px 10px #bfbfbf
}

.pop-item-container::-webkit-scrollbar {
    display: none;
}


.pop-item-label {
    margin:auto;
    padding-top: 20px;
    color: #363636;
    /* text-shadow: -2px -2px 6px rgba(255, 255, 255, 0.14), */
    /* 2px 2px 6px rgba(0, 0, 0, 0.18); */
}

.pop-items {
    overflow: hidden;
    cursor: pointer;
    border-radius: 5px;
    max-width: 200px;
    min-width: 200px;
    min-height: 300px;
    max-height: 300px;
    background-color: #ffffff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    transition: all 150ms ease-out 150ms;
}

.pop-items:hover {
    cursor: pointer;
    border: 1px solid rgba(187, 137, 137, 0.358);
    transform: translate(-10px, -10px);
    box-shadow: 4px 4px 12px 5px rgb(209, 209, 209);
}


.pop-items img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pop-items p {
    font-family: 'Courier New', Courier, monospace;
}

.add-to-cartbutton {
    margin: auto;
    padding: 5px 10px;
    border-radius: 20px;
    border-width: 1px;
    border-style: double;
    border-color: #398cd9;
    transition: all 0.2s ease-in-out;
}

.add-to-cartbutton:hover {
    box-shadow: 5px 5px 10px #ababab,
    -5px -5px 10px #ffffff;
    color: #d95d39;
    border-color: #d95d39;
    cursor: pointer;
}

.saleitemcontainer {
    border-radius: 5px;
    border-style: solid;
    border-color: #d1d1d1;
    border-width: 1px;
    background-color: rgb(240, 240, 240);
    box-shadow: 0px 3px 10px #bfbfbf;
    padding: 5px;
}

.saleheader {
    display: flex;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: #c9c9c9;
    border-width: 1px;
    border-style: solid;
    justify-content: space-between;
    font-family: 'poppins';
    font-size: small;
    padding: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.saleitems {
    padding: 20px 10px;
    background-color: transparent;
    display: flex;
    column-gap: 10px;
    justify-content: space-evenly;
}